<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We will use your camera to help you pin your notes with AR</string>
    <key>NSMotionUsageDescription</key>
    <string>We will use motion data to improve activity and elevation estimation</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We will use your location to show precise nearby content</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>full-accuracy</key>
		<string>We need precise location temporarily to improve accuracy around your area.</string>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We will use your location to show precise nearby content</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
